@import "https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&family=Rubik&display=swap";

:root {
    background-image: url(https://fuckbeingsad.com/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.obamja {
    position: absolute;
    right: -50px;
    bottom: 120px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
 
.obamja2 {
    position: absolute;
    transform: scaleX(-1);
    left: -50px;
    bottom: 120px;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.obamjaeye {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 10000;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    font-family: "Fira Sans";
}

.card {
    height: 350px;
    width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

.pfp {
    height: 200px;
    border-radius: 999px;
    margin-bottom: 15px;
    
    filter: drop-shadow(0px 3px 0.25px #1a1a1a);
    image-rendering: high-quality;
    transition: width 0.01s;
}

.text404 {
    font-weight: 1000;
    font-size: 50;
    margin-bottom: 8.5px;
}

.textTitle {
    font-weight: 1000;
    font-size: 30;
    margin-bottom: 8.5px;
    text-shadow: 0px 2px #1a1a1a;
}

.textBio {
    font-weight: 400;
    font-size: 18.5;
    text-shadow: 0px 2px #1a1a1a;
}

.icons {}

.icons button {
    all: unset;
    display: inline-block;
    height: 60px;
    width: 60px;
    font-size: 40;
    margin: 12px;
    cursor: pointer;
    color: white;
    text-align: center;
    text-shadow: 0px 2px #1a1a1a;
}

.online {
    border: 2px solid #3ba55d
}

.dnd {
    border: 2px solid #ed4245
}

.idle {
    border: 2px solid #faa81a
}

.streaming {
    border: 2px solid #593695
}

.offline {
    border: 2px solid #747f8d
}

.scbutton {
    all: unset;
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 12px;
    cursor: pointer;
    color: white;
    text-align: center;
    text-shadow: 0px 2px #1a1a1a;
    position: absolute;
    top: 1px;
    right: 1px;
}

.scbutton img {
    height: 50px;
}

@-webkit-keyframes shittyBg {
    0% {
        background-position: 0% 97%
    }

    50% {
        background-position: 100% 4%
    }

    100% {
        background-position: 0% 97%
    }
}

@keyframes shittyBg {
    0% {
        background-position: 0% 97%
    }

    50% {
        background-position: 100% 4%
    }

    100% {
        background-position: 0% 97%
    }
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.what {
    /* override other styles to make responsive */
    width: 100% !important;
    height: 100% !important;
}